[Unit]
Description=Gitea Actions runner
Documentation=https://gitea.com/gitea/act_runner
WantedBy=multi-user.target

[Service]
ExecStart={{ deploy_gitea_runner_path }} daemon --config /etc/act_runner/config.yaml
ExecReload=/bin/kill -s HUP $MAINPID
WorkingDirectory={{ deploy_gitea_runner_directory }}
TimeoutSec=0
RestartSec=10
Restart=always
User=act_runner

[Install]
WantedBy=multi-user.target
